<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Qloud Leaderboard</title>

  <link rel="icon" href="/static/img/favicon-cloud.ico">

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>

    <br>

    <div class="card text-center col-6" style="margin: 0 auto">
        <div class="card-header">
          <h3>Leaderboard</h3>
        </div>
        <div id="table_window" class="card-body">
            
        </div>
    </div>
  


  <script>

      function Comparator(a, b) {
        if (a[1] > b[1]) return -1;
        if (a[1] < b[1]) return 1;
        return 0;
      }

      function draw_leaderboard()  {
        
        var leaderboard = [];
        // username, wins, losses
        {% for user in leaderboard %}
          leaderboard.push(["{{ user["name"] | safe }}", parseInt("{{ user["wins"] }}"), "{{ user["draws"] }}", "{{ user["losses"] }}"])
        {% endfor %}

        leaderboard = leaderboard.sort(Comparator);

        var myTableDiv = document.getElementById("table_window");
        var table = document.createElement('TABLE');
        table.classList.add('table');
        myTableDiv.style.margin = '0 auto';
        myTableDiv.style.overflow = 'auto';
        var tableBody = document.createElement('TBODY');

        table.cellPadding = '10';
        table.appendChild(tableBody);

        var heading = [];
        heading[0] = "Username";
        heading[1] = "Wins";
        heading[2] = "Draws";
        heading[3] = "Losses";

        var tr_head = document.createElement('TR');
        tableBody.appendChild(tr_head);
        for (i = 0; i < heading.length; i++) {
            var th = document.createElement('TH');
            th.classList.add("text-center");
            th.appendChild(document.createTextNode(heading[i]));
            tr_head.appendChild(th);
        }

        for (var i = 0; i < leaderboard.length; i++) {
          var tr = document.createElement('TR');
          for (var j = 0; j < leaderboard[i].length; j++) {
            var td = document.createElement('TD');
            td.appendChild(document.createTextNode(leaderboard[i][j]));
            tr.appendChild(td);
          }
          tableBody.appendChild(tr);
        }


        myTableDiv.appendChild(table)

      }

      window.onload = draw_leaderboard;

  </script>

</body>
</html>
